{% extends "home/home_general.html" %}
{% block realtime %}
	{% load drealtimetags %}	
	{%ishout_js%}
{% endblock realtime %}
{% block files_js %}	
	<script type="text/javascript" src="/media/js/helpdeskunl/centro_asistencia.js"></script>
	<script type="text/javascript" src="/media/js/helpdeskunl/usuarios.js"></script>
	<script type="text/javascript" src="/media/js/helpdeskunl/incidencia.js"></script>
{% endblock files_js %}
{% block contenido %}
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<div class='page-header'>
		<h3 class="text-center"><b>
			{% if object.id %}
				Actualizar solicitud de incidencia
			{% else %}
				Nueva solicitud de incidencia
			{% endif %}	</b>
		</h3>
	</div>
	{% url 'incidencia_add' as url_add_incidencia %}
	<form id="incidencia_create_form" method='post' class="form form-horizontal" role="form" enctype = "multipart/form-data">
		{% csrf_token %}
		<div class="panel">
			<div class="panel-body">
			{% for formulario in form %}	 
				{% if formulario.errors %}
					<div class="alert alert-warning alert-dismissable">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 					
						{% for error in formulario.errors %} 				
							<small>{{error}}</small>
						{% endfor %}					
					</div>
				{% endif %}
				<div class="form-group">
					<label class="control-label col-sm-3">{{formulario.label_tag}}</label>
					<div class="col-sm-8">
						{{formulario}}
						<p class="help-block small">{{formulario.help_text}}</p>	
					</div>				
				</div>
			{%endfor%}		
			</div>
			<div class="panel-footer text-right">				
				<a href="{% url 'incidencia_list' %}" class='btn btn-default'>Cancelar</a>
				<input type="submit" value="Guardar" class='btn btn-primary'>
			</div>
		</div>

		
	</form>	
	
	<!--{# {% url 'bien_add' as url_add_bien %}
	<a class='btn btn-primary' data-toggle="modal" href="{{url_add_bien}}" data-target="#modal_bien" title="Nuevo Bien">Agregar Bien Institucional</a>

	<!--MODAL PARA EDITAR
	<div class="modal fade" id="modal_bien" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">		
			</div>
		</div> 		
	</div>  #}-->
{% endblock contenido %}