{% extends "home/home_general.html" %}
{% block realtime %}
	{% load drealtimetags %}	
	{%ishout_js%}
{% endblock realtime %}
{% block files_js %}	
	<script type="text/javascript" src="/media/js/helpdeskunl/centro_asistencia.js"></script>
	<script type="text/javascript" src="/media/js/helpdeskunl/usuarios.js"></script>
	<script type="text/javascript" src="/media/js/helpdeskunl/incidencia.js"></script>
{% endblock files_js %}
{% load validadores_template %}
{% load tags %}
{% block contenido %}

	<br>
	<script>
	{% for message in messages %}
	$(document).ready(function() {		
		var stack_bottomright = {"dir1":"bottom", "dir2":"right", "push":"top"};
	    new PNotify({	      
			text: '{{ message }}.',
			//addclass: 'stack-bottomright',
			icon: 'glyphicon glyphicon-wrench',
			type: '{{ message.tags }}'
			// stack: stack_bottomright
	    });
	});
	{% endfor %}
	</script>
	
	<ul class="nav nav-tabs">
		{% url 'incidencia_list' as url_incidencias %}		
		<li role="presentation"> <a href="{{url_incidencias}}">Mis incidencias</a></li>
		{% if user|tiene_grupo:"ASESOR TECNICO" %}
			{% url 'incidencia_asignada_list' as url_asignada_incidencias %}		
			<li role="presentation"  class="active"><a href="{{url_asignada_incidencias}}">Mis Incidencias Asignadas</a></li>
		{% endif %}
		{% if user|tiene_grupo:"JEFE DEPARTAMENTO" %}
			{% url 'incidencia_centro_list' as url_centro_incidencias %}		
			<li role="presentation"><a href="{{url_centro_incidencias}}">Administrar Incidencias</a></li>
		{% endif %}
  		
	</ul>	
	<div class="panel panel-success">
		<div class="panel-heading container-fluid">
			<div class="col-sm-10" style="padding: 1%;">
				<h3 class="panel-title">
					<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;
					<b>{{title}}</b>					
				</h3>
			</div>			
			<div class="text-right col-sm-2" style="padding: 1%;">
				<small><small><i><button type="button" id="btn_personalizada">Búsqueda Personalizada</button></i></small></small><br>			
			</div>	

			<div class="panel panel-success col-sm-12"  id='busqueda_personalizada' style="display:none;">
				<div class="panel-body">
					<p class="small text-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BUSCAR INCIDENCIA POR:</p>	
					<div class="btn-group btn-group-md col-sm-12">
						<form action="{{url_list}}" method="GET" accept-charset="utf-8" id='form_busqueda_personalizada'>
							<div class="col-sm-3" id="div_criterio_busqueda" style="display:true;">
								<div class="input-group-btn">
									<button id="button_opciones_criterio" class="btn" disabled>Opciones.</button>
									<button class="btn dropdown-toggle" data-toggle="dropdown">
										<span class="caret"></span>
									</button>
									<ul id="criterio_busqueda_incidencia" class="dropdown-menu" role="menu">
										<li><a>Todas</a></li>
										<li><a>Estado</a></li>
										<li><a>Título</a></li>
										<li><a>Solicitante</a></li>
										<li><a>Técnico</a></li>
										<li><a>Prioridad</a></li>
										<li><a>Fecha creación</a></li>
										<li><a>Fecha asignación</a></li>
										<li><a>Fecha caducidad</a></li>
									</ul>								
								</div>
								<input type="hidden" name="criterio" id="criterio">
							</div> 
							<div class="col-sm-3"  id="div_estado_incidencia" style="display:none;">
								<div class="input-group-btn">
									<button id="button_opciones_incidencia" class="btn" di<span class="rating"disabled>Elegir</button>
									<button class="btn dropdown-toggle" data-toggle="dropdown">
										<span class="caret"></span>
									</button>
									<ul id="ul_estado_incidencia" class="dropdown-menu" role="menu">
										<li><a>Nueva</a></li>
										<li><a>Asignada</a></li>
										<li><a>Atendiendo</a></li>
										<li><a>Cerrada</a></li>
										<li><a>Pendiente</a></li>
										<li><a>Reaperturada</a></li>									
									</ul>
								</div>
								<input type="hidden" name="estado" id="estado">
							</div>
							<div id="div_texto_incidencia" class="col-sm-7" style="display:none;">
								<input type="text" id="valor" class="form-control" name="valor">
							</div>
							<div id="div_fechas" class="col-sm-7" style="display:none;">						
								<input class="datepicker" type="text" placeholder="Desde" name="fecha_desde" id="fecha_desde" >
								<input class="datepicker" type="text" placeholder="Hasta" name="fecha_hasta" id="fecha_hasta">
								<br><i><p id="mensaje" class="small small">	</p></i>
							</div>
							<div id="div_prioridad" style="display:none;" class="col-sm-2" >
								<div class="input-group-btn">
									<button id="button_opciones_prioridad" class="btn" disabled>Elegir</button>
									<button class="btn dropdown-toggle" data-toggle="dropdown">
										<span class="caret"></span>
									</button>
									<ul id="ul_prioridad_incidencia" class="dropdown-menu" role="menu">
										<li><a>Normal</a></li>
										<li><a>Bajo</a></li>
										<li><a>Alta</a></li>										
									</ul>
								</div>
								<input type="hidden" name="prioridad" id="prioridad">
							</div>


							<div class="col-sm-1">
								{% url 'incidencia_asignada_list' as url_list %}
								<input id="buscar" type="submit" class="btn btn-default " value="Buscar" disabled>
							</div>


							
									<!--<input id="tipo_busqueda" type="hidden" value="cerrada" name="cerrada">-->
						</form>		
					</div>					
				</div>				
			</div>
			
		</div>		
		<div class="panel-body" id="div_incidencias">
			{% if incidencias %}
				<table id="tbl-incidenciasat" class="table table-bordered table-hover table-condensed" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class = 'col-sm-1'>Estado</th>
							<th class = 'col-sm-1'>Caduca</th>
							<th class = 'col-sm-1'>Restante</th>							
							<th class = 'col-sm-8'>Título</th>							
							<th class = 'col-sm-1'>Panel</th>
						</tr>
					</thead>
					<tbody>
						{% for incidencia in incidencias %}							
							<tr id='tr_incidencia{{incidencia.id}}' class="small">						
															
								<td class="{{incidencia.get_class_estado}}">{{incidencia.get_estado_incidencia_display}}</td>
								<td>{{incidencia.caduca|date:"d/m/Y H:i" }}</td>
								<td>
									{% if incidencia.estado_incidencia != '2' %}
										<div class="text-center">---</div>
									{% else %}
										<input class="caduca" type="hidden" value='{{incidencia.caduca|date:"F d, Y H:i:s" }}' data-id="{{incidencia.id}}">	
										<small><small> <small><small><small>
											<div id="defaultCountdown{{incidencia.id}}"></div>
										</small></small></small></small></small>
									{% endif %}
									
								</td>								
								<td>
									<b>{{incidencia.titulo}} <p class="{{incidencia.get_class_prioridad_asignada_table}}">{{incidencia.get_prioridad_asignada_display}}</p></b>
									<br><small> <i>Técnicos:<br></i> </small>
									{% for asignacion in incidencia.asignacion_incidencia_set.all %}
										<small><small>{{asignacion.tecnico.get_full_name}}, 	</small></small>
									{% endfor %}
								</td>								
								<td>
									<div class="row-fluid">										
										<div class="col-sm-5">
											{% if perms.incidencia.change_incidencia %}
												{% if incidencia.estado_incidencia == '1' or  incidencia.estado_incidencia == '5' %}
													{% if incidencia.es_aperturable %}
														{% url 'atender_incidencia' pk=incidencia.id as url_atender_incidencia %}
														<a data-toggle="modal" href="{{url_atender_incidencia}}" data-target="#atender_modal_i" title="Atender" data-tooltip class="btn btn-success"><span class="glyphicon glyphicon-check"></span>
														</a>
													{% else %}													
														{% url 'extender_tiempo' incidencia_id=incidencia.id as url_extender_tiempo %}
														<a data-toggle="modal" href="{{url_extender_tiempo}}" data-target="#extender_modal" title="Extender tiempo de apertura" data-tooltip class="btn btn-warning"><span class="glyphicon glyphicon-exclamation-sign"></span>
														</a>
													{% endif %}
												{% else %}
													{% url 'accion_list' incidencia_id=incidencia.id as url_acciones_incidencia %}
													<a href="{{url_acciones_incidencia}}" class="btn btn-primary">
													<span class="glyphicon glyphicon-th-list">
													</a>
												{% endif %}
											{% endif %}										
										</div>
								</td>							
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<i><h5>No hay incidencias que mostrar</h5></i>
			{% endif %}			
		</div>
	</div>

<!--MODAL PARA ATENDER INCIDENCIA-->
<div id="atender_modal_i" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">		
	<div class="modal-dialog">
		<div class="modal-content">		
		</div>
	</div>
</div>

<!--MODAL PARA SOLICITAR EXTENDER TIEMPO-->
<div id="extender_modal" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">		
	<div class="modal-dialog">
		<div class="modal-content">		
		</div>
	</div>
</div>
{% endblock contenido %}














