{% extends "home/home_general.html" %}
{% block realtime %}
	{% load drealtimetags %}	
	{%ishout_js%}
{% endblock realtime %}
{% block files_js %}	
	<script type="text/javascript" src="/media/js/helpdeskunl/centro_asistencia.js"></script>
	<script type="text/javascript" src="/media/js/helpdeskunl/usuarios.js"></script>
	<script type="text/javascript" src="/media/js/helpdeskunl/incidencia.js"></script>
{% endblock files_js %}
{% load validadores_template %}
{% load tags %}
{% block contenido %}

	<br>
	<script>
	{% for message in messages %}
	$(document).ready(function() {		
		var stack_bottomright = {"dir1":"bottom", "dir2":"right", "push":"top"};
	    new PNotify({	      
			text: '{{ message }}.',
			//addclass: 'stack-bottomright',
			icon: 'glyphicon glyphicon-wrench',
			type: '{{ message.tags }}'
			// stack: stack_bottomright
	    });
	});
	{% endfor %}
	</script>
	
	<ul class="nav nav-tabs">
		{% url 'incidencia_list' as url_incidencias %}		
		<li role="presentation"> <a href="{{url_incidencias}}">Mis incidencias</a></li>
		{% if user|tiene_grupo:"ASESOR TECNICO" %}
			{% url 'incidencia_asignada_list' as url_asignada_incidencias %}		
			<li role="presentation"  class="active"><a href="{{url_asignada_incidencias}}">Incidencias Asignadas</a></li>
		{% endif %}
		{% if user|tiene_grupo:"JEFE DEPARTAMENTO" %}
			{% url 'incidencia_centro_list' as url_centro_incidencias %}		
			<li role="presentation"><a href="{{url_centro_incidencias}}">Administrar Incidencias</a></li>
		{% endif %}
  		
	</ul>	
	<div class="panel panel-default">
		<div class="panel-heading container-fluid">
			<div class="col-sm-9 col-md-10" style="padding: 1%;">
				<h3 class="panel-title">
					<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;
					<b>Incidencias asignadas para mi</b>
				</h3>					
			</div>
			<div class="col-sm-3 col-md-2">				
			</div>
		</div>
		<br>
		<div class="panel-body" id="div_incidencias">
			{% if incidencias %}
				<table id="tbl-incidenciasat" class="table table-bordered table-hover table-condensed" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class = 'col-sm-1'>Estado</th>
							<th class = 'col-sm-1'>Caduca</th>
							<th class = 'col-sm-1'>Restante</th>							
							<th class = 'col-sm-8'>Título</th>							
							<th class = 'col-sm-1'>Panel</th>
						</tr>
					</thead>
					<tbody>
						{% for incidencia in incidencias %}							
							<tr id='tr_incidencia{{incidencia.id}}' class="small">						
								<input class="caduca" type="hidden" value='{{incidencia.caduca|date:"F d, Y H:i:s" }}' data-id="{{incidencia.id}}">								
								<td class="{{incidencia.get_class_estado}}">{{incidencia.get_estado_incidencia_display}}</td>
								<td>{{incidencia.caduca|date:"d/m/Y H:i" }}</td>
								<td>
									<small><small> <small><small><small>
										<div id="defaultCountdown{{incidencia.id}}"></div>
									</small></small></small></small></small>
								</td>								
								<td>
									<b>{{incidencia.titulo}} <p class="{{incidencia.get_class_prioridad_asignada_table}}">{{incidencia.get_prioridad_asignada_display}}</p></b>
									<br><small> <i>Técnicos:<br></i> </small>
									{% for asignacion in incidencia.asignacion_incidencia_set.all %}
										<small><small>{{asignacion.tecnico.get_full_name}}, 	</small></small>
									{% endfor %}
								</td>								
								<td>
									<div class="row-fluid">										
										<div class="col-sm-5">
											{% if perms.incidencia.change_incidencia %}
												{% if incidencia.estado_incidencia == '1' %}
													{% url 'atender_incidencia' pk=incidencia.id as url_atender_incidencia %}
													<a data-toggle="modal" href="{{url_atender_incidencia}}" data-target="#atender_modal_i" title="Atender" data-tooltip class="btn btn-warning"><span class="glyphicon glyphicon-check"></span>
													</a>
												{% else %}
													{% url 'accion_list' incidencia_id=incidencia.id as url_acciones_incidencia %}
													<a href="{{url_acciones_incidencia}}" class="btn btn-primary">
													<span class="glyphicon glyphicon-th-list">
													</a>
												{% endif %}
											{% endif %}										
										</div>
								</td>							
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
				<i><h5>No hay incidencias registradas que mostrar</h5></i>
			{% endif %}			
		</div>
	</div>

<!--MODAL PARA ATENDER INCIDENCIA-->
<div id="atender_modal_i" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">		
	<div class="modal-dialog">
		<div class="modal-content">		
		</div>
	</div>
</div>
{% endblock contenido %}














