{% extends "home/home_general.html" %}
{% block realtime %}

{% endblock realtime %}
{% block files_js %}	
	<script type="text/javascript" src="/media/js/helpdeskunl/centro_asistencia.js"></script>
	<script type="text/javascript" src="/media/js/helpdeskunl/usuarios.js"></script>
	<script type="text/javascript" src="/media/js/helpdeskunl/incidencia.js"></script>
	<script type="text/javascript" src="/media/js/helpdeskunl/accion.js"></script>
{% endblock files_js %}
{% block contenido %}
	<!--RECIBIR UN CONTEXT CON NOMBRE INCIDENCIA-->
	<div class='page-header text-center'>		
		{% if object.id %}				
			<h4><b>Actualizar Diagnóstico Inicial</b></h4>
		{% else %}				
			<h4><b>Diagnostico Inicial</b></h4>				
		{% endif %}	</b>
	</div>
	{% if object.id %}
		{% url 'diagnostico_update' pk=object.id as url_update_accion %}
		<form id="update_diagnostico_form" method='post' class="form form-horizontal" role="form" onsubmit="return validarForm()">
	{% else %}
		{% url 'diagnostico_add' as url_add_accion %}
		<form id="create_diagnostico_form" method='post' class="form form-horizontal" role="form" onsubmit="return validarForm()">
	{% endif %}
		{% csrf_token %}
		<div class="panel">
			<div class="panel-body">
				<div class="form-group form-group-sm">
					<label class="control-label col-sm-2">Incidencia:</label>
					<div class="col-sm-10">
						<input class="form-control" value = "{{incidencia.titulo}}" disabled>
					</div>				
				</div>
				{% for formulario in form %}	 
					{% if formulario.errors %}
						<div class="alert alert-warning alert-dismissable">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 					
							{% for error in formulario.errors %} 				
								<small>{{error}}</small>
							{% endfor %}					
						</div>
					{% endif %}
					<div class="form-group form-group-sm">
						<label class="control-label col-sm-2">{{formulario.label_tag}}</label>
						<div class="col-sm-10">
							{{formulario}}
							<p class="help-block small">{{formulario.help_text}}</p>	
						</div>				
					</div>
				{%endfor%}

				<div class="form-group" id="div-bienes">
					<label class="control-label col-sm-2">Bienes:</label>			
					<div class="col-sm-10">
						<div class="panel panel-default">							
							<div class="panel-body">
								<small>
								<table id="tbl-bienes" class="table table-bordered table-hover table-condensed" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th class="col-sm-2">Código</th>
											<th class="col-sm-3">Código Sist.Finan.</th>
											<th class="col-sm-2">Serie</th>
											<th class="col-sm-4">Producto</th>
											<th class="col-sm-1">Editar</th>
											<th class="col-sm-1">Recibido</th>						
										</tr>
									</thead>
									<tbody>									
										{% for bien in  bienes_incidencia %}
											<tr id= "trbien_{{bien.id}}">
												<input id="in{{bien.id}}" class="recibido" type="hidden" value='{{bien.id}}' data-id="{{bien.id}}" data-recibido="no" name="bien">												
												<td>{{bien.codigo}}</td>
												<td>{{bien.codigo_cfn}}</td>
												<td>{{bien.serie}}</td>
												<td>{{bien.producto}}</td>												
												<td>
													<!--{# {% url 'incidencia_update' pk=incidencia.id as url_edit_incidencia %} #}-->
													<a href="#" title="Actualizar Bien" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></a>
												</td>
												<td>
													<input id="radioSI{{bien.id}}" type="checkbox" class="radio" value="SI"  data-input="in{{bien.id}}"> SI	
												</td>
											</tr>
										{% endfor %}
										{% for bien in  bienes_recibidos %}
											<tr id= "trbien_{{bien.id}}">
												<input id="in{{bien.id}}" class="recibido" type="hidden" value='{{bien.id}}' data-id="{{bien.id}}" data-recibido="si" name="bien">												
												<td>{{bien.codigo}}</td>
												<td>{{bien.codigo_cfn}}</td>
												<td>{{bien.serie}}</td>
												<td>{{bien.producto}}</td>												
												<td>
													<!--{# {% url 'incidencia_update' pk=incidencia.id as url_edit_incidencia %} #}-->
													<a href="#" title="Actualizar Bien" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></a>
												</td>
												<td>
													<input id="radioSI{{bien.id}}" type="checkbox" class="radio" value="SI"  data-input="in{{bien.id}}" checked> SI	
												</td>
											</tr>
										{% endfor %}								
									</tbody>
								</table></small>
							</div>
						</div>
					</div>
				</div>					
			</div>
			<div class="panel-footer text-right">
				{% url 'accion_list' incidencia_id=incidencia.id as url_acciones_list %}	
				<a href="{{url_acciones_list}}" class='btn btn-default'>Cancelar</a>
				<input type="submit" value="Guardar" class='btn btn-primary'>
			</div>
		</div>	
	</form>	
{% endblock contenido %}