{% extends "base/base_panel.html" %}
{% block realtime %}
	{% load drealtimetags %}	
	{%ishout_js%}
{% endblock realtime %}
{% load validadores_template_home %}
{% block files_css %} 
	<!--COLOR CSS POR ROL DE USUARIO-->	
	{% if  user|estilo_fondo == 'FONDO OSCURO'%}
		<link rel="stylesheet" type="text/css" href="/media/css/estilo_admin.css">	
		<link rel="stylesheet" type="text/css" href="/media/css/nav_color_admin.css">
	{% elif user|estilo_fondo == 'FONDO CAFE'%}
		<link rel="stylesheet" type="text/css" href="/media/css/estilo_operativo.css">	
		<link rel="stylesheet" type="text/css" href="/media/css/nav_color_operativo.css">	
	{% elif user|estilo_fondo == 'FONDO VERDE'%}
		<link rel="stylesheet" type="text/css" href="/media/css/estilo_cliente.css">	
		<link rel="stylesheet" type="text/css" href="/media/css/nav_color_cliente.css">		
	{% endif %}	
{% endblock files_css %}

{% block navbar_dinamico %}	
{% endblock navbar_dinamico %}

{% block contenido %}
<br><br>
<h2 class="text-center"><i> <b>Sistema de atención de incidencias de la <br> Universidad Nacional de Loja</b> </i></h2>
<br><br>
<div class= "col-sm-12">
	<img src="media/images/slide1.png"  width="100%" height="120%">		
	<br>.
</div>

{% endblock contenido %}

{% block menu_navegacion %}
	<div class="row">
		<div class="thumbnail">
		<br>						
			{% if user.avatar %}				
				<img class="img-circle" src="/media/{{user.avatar}}" width="100" height="100">
			{% else %}				
				<img class="img-circle" src="/media/images/user.png" width="100" height="100">
			{% endif %}
			<div class="text-center">
				<br>
				<p class="small"><b>Usuario:</b></p>
				<a href="#">{{ user.nombres }} <br>{{ user.apellidos }}</a>
			</div>
			<br>
		</div>
	</div>
	{% include "base/base_sidebar.html" %}
{% endblock menu_navegacion %}

{% block footer %}
	<div class="container">
		<p>Tesista: Diana Alexandra Morocho Puchaicela - 0990493445</p>
	</div>	
{% endblock footer %}