{% extends "base/base_panel.html" %}
{% block files_css %} 
	<link rel="stylesheet" type="text/css" href="/media/css/estilo_admin.css">	
	<link rel="stylesheet" type="text/css" href="/media/css/nav_color_admin.css">	
{% endblock files_css %}
{% block navbar_dinamico %}
	<!--<li><a href="#" class="Roboto">Centro de Asistencia</a></li>-->	
{% endblock navbar_dinamico %}
{% block contenido %}
	<p>
		SOY EL JEFE DE DEPARTAMENTO
	</p>
{% endblock contenido %}

{% block menu_navegacion %}
	<li><a href="">email me</a></li>	
{% endblock menu_navegacion %}

{% block footer %}
	<div class="container">
		<p>Tesista: Diana Alexandra Morocho Puchaicela - 0990493445</p>
	</div>	
{% endblock footer %}