{% extends "base/base_panel.html" %}
{% load validadores_template_home %}
{% block files_css %} 
	<!--COLOR CSS POR ROL DE USUARIO-->	
	{% if  user|estilo_fondo == 'FONDO OSCURO'%}
		<link rel="stylesheet" type="text/css" href="/media/css/estilo_admin.css">	
		<link rel="stylesheet" type="text/css" href="/media/css/nav_color_admin.css">
	{% elif user|estilo_fondo == 'FONDO CAFE'%}
		<link rel="stylesheet" type="text/css" href="/media/css/estilo_operativo.css">	
		<link rel="stylesheet" type="text/css" href="/media/css/nav_color_operativo.css">	
	{% elif user|estilo_fondo == 'FONDO VERDE'%}
		<link rel="stylesheet" type="text/css" href="/media/css/estilo_cliente.css">	
		<link rel="stylesheet" type="text/css" href="/media/css/nav_color_cliente.css">		
	{% endif %}	

{% endblock files_css %}

{% block navbar_dinamico %}	
{% endblock navbar_dinamico %}

{% block contenido %}
<h2>HELPDESK UNL</h2>
{% endblock contenido %}

{% block menu_navegacion %}
	{% include "base/base_sidebar.html" %}
{% endblock menu_navegacion %}

{% block footer %}
	<div class="container">
		<p>Tesista: Diana Alexandra Morocho Puchaicela - 0990493445</p>
	</div>	
{% endblock footer %}