{% if servicio.id %}
	{% url 'servicio_update' pk=servicio.id as url_edit_servicio %}
	<form id="servicio_update_form" method='post' class="form form-horizontal" role="form" action='{{url_edit_servicio}}' onsubmit="return validateForm()">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h4 class="modal-title" id="myModalLabel"><b>Editar Servicio</b></h4>
		</div>
{% else %}
	{% url 'servicio_add' centro=centro as url_add_servicio %}
	<form id="servicio_create_form" method='post' class="form form-horizontal" role="form" action='{{url_add_servicio}}' onsubmit="return validateForm()">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h4 class="modal-title" id="myModalLabel"><b>Nuevo Servicio</b></h4>
		</div>
{% endif %}	
	<div class="modal-body">		
		{% csrf_token %}		
		{% for formulario in form%}	 
			{% if formulario.errors %}
				<div class="alert alert-warning alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 					
					{% for error in formulario.errors %} 				
						<small>{{error}}</small>
					{% endfor %}					
				</div>
			{% endif %}
			
			<div class="form-group">
				<label class="control-label col-sm-3">{{formulario.label}}</label>
				<div class="col-sm-8">
					{{formulario}}
					<p class="help-block small">{{formulario.help_text}}</p>			
				</div>						
			</div>
		{%endfor%}	
		<div id="mensaje_tiempo_min"></div>
		<div id="div-tiempos" class="form-group">
			<label class="control-label col-sm-3">Tiempo mínimo de solución:</label>
			<div class="row-fluid col-sm-8">
				<div class="col-sm-3">
					días:<input id="diasmin" type="text" value="{{object.t_minimo.days}}" class="dias spinner" maxlength="2" data-tipo="minimo">
				</div>
				<div class="col-sm-3">
					horas:<input id="horasmin" type="text" value="{{object.get_min|slice:":1"|first}}" class="horas spinner"  maxlength="2" data-tipo="minimo">
				</div>
				<div class="col-sm-3">
					minutos:<input id="minutosmin" type="text" value="{{object.get_min|slice:"1:2"|first}}" class="minutos spinner"  maxlength="2" data-tipo="minimo">
				</div>
				<div class="col-sm-3">
					segundos:<input id="segundosmin" type="text" value="{{object.get_min|slice:"2:3"|first}}" class="segundos spinner"  maxlength="2" data-tipo="minimo">
				</div>	
			</div>						
		</div>
		<div id="mensaje_tiempo_nor"></div>
		<div class="form-group">
			<label class="control-label col-sm-3">Tiempo normal de solución:</label>
			<div class="row-fluid col-sm-8">
				<div class="col-sm-3">
					días:<input id="diasnor" type="text" value="{{object.t_normal.days}}" class="dias spinner"  maxlength="2" data-tipo="normal">
				</div>
				<div class="col-sm-3">
					horas:<input id="horasnor" type="text" value="{{object.get_nor|slice:":1"|first}}" class="horas spinner" maxlength="2" data-tipo="normal">
				</div>
				<div class="col-sm-3">
					minutos:<input id="minutosnor" type="text" value="{{object.get_nor|slice:"1:2"|first}}" class="minutos spinner" maxlength="2" data-tipo="normal">
				</div>
				<div class="col-sm-3">
					segundos:<input id="segundosnor" type="text" value="{{object.get_nor|slice:"2:3"|first}}" class="segundos spinner"  maxlength="2" data-tipo="normal">
				</div>	
			</div>						
		</div>		
		<div id="mensaje_tiempo_max"></div>
		<div class="form-group">
			<label class="control-label col-sm-3">Tiempo máximo de solución:</label>
			<div class="row-fluid col-sm-8">
				<div class="col-sm-3">
					días:<input id="diasmax" type="text" value="{{object.t_maximo.days}}" class="dias spinner"  maxlength="2" data-tipo="maximo">
				</div>
				<div class="col-sm-3">
					horas:<input id="horasmax" type="text" value="{{object.get_max|slice:":1"|first}}" class="horas spinner"  maxlength="2" data-tipo="maximo">
				</div>
				<div class="col-sm-3">
					minutos:<input id="minutosmax" type="text" value="{{object.get_max|slice:"1:2"|first}}" class="minutos spinner"  maxlength="2" data-tipo="maximo">
				</div>
				<div class="col-sm-3">
					segundos:<input id="segundosmax" type="text" value="{{object.get_max|slice:"2:3"|first}}" class="segundos spinner"  maxlength="2" data-tipo="maximo">
				</div>	
			</div>						
		</div>
	</div>
	<div class="modal-footer">
		<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar" />
		<input type="submit" class="btn btn-primary" value="Guardar" style="margin-bottom: 5px;"/>
	</div>
</form>
<!---->
<script> 
	var enviar = false;

	var form_options = { 
		target: '#modal .modal-content',
		success: function(data, response){				
			if (data.respuesta) {
				if(data.respuesta == 'create'){
					jQuery('#modal').modal('hide');			
					// SI NO CONTIENE DATOS AGREGADOS AGREGAR LA TABLA
					if(document.getElementById("tbl_servicios")==null){						
						// var tabla = '<table id="tbl_servicios" class="table table-bordered table-hover"><thead><tr><th class="col-sm-4">Servicio</th><th class="col-sm-7">Descripción</th><th class="col-sm-1">Acción</th></tr></thead>';
						// $('#div_servicios').html(tabla);					
						location.reload();
					}					
					//AGREGAR LA NUEVA FILA AL DOM	
					if(document.getElementById("tr_servicio"+data.id)==null){
						$('#tbl_servicios tr:last').after(data.fila);
					}					
				}
				if(data.respuesta == 'update'){
					jQuery('#modal').modal('hide');			
					// REEMPLAZO DE LA FILA ACTUALIZADA EN EL DOM
					var fila = document.getElementById("tr_servicio"+data.id);				
					fila.innerHTML = data.fila;					
				}	
			}
		},
	}
	// EJECUTAR LA FUNCIÓN DE AJAX
	$('#servicio_update_form').ajaxForm(form_options);	
	$('#servicio_create_form').ajaxForm(form_options);	
	// LIMPIAR CAMPOS DEL MODAL
	$('body').on('hidden.bs.modal', '.modal', function () {$(this).removeData('bs.modal');});


	($('#tmax').parent('div')).parent('div').hide();
	($('#tnor').parent('div')).parent('div').hide();
	($('#tmin').parent('div')).parent('div').hide();

	combo_dias('.dias');
	combo_horas('.horas');
	combo_minutos('.minutos');
	combo_segundos('.segundos');	

	function combo_dias (clase) {	
		$(clase).TouchSpin({
			min: 00,
			max: 99,
			step: 1,			
			verticalbuttons: true,
			verticalupclass: 'glyphicon glyphicon-plus',
			verticaldownclass: 'glyphicon glyphicon-minus',			
			initval: 0
		});
	}

	function combo_horas (clase) {	
		$(clase).TouchSpin({
			min: 00,
			max: 23,
			step: 1,
			initval: 00,
			verticalbuttons: true,
			verticalupclass: 'glyphicon glyphicon-plus',
			verticaldownclass: 'glyphicon glyphicon-minus',
		});
	}

	function combo_minutos (clase) {	
		$(clase).TouchSpin({
			min: 00,
			max: 59,
			step: 1,
			initval: 0,
			verticalbuttons: true,
			verticalupclass: 'glyphicon glyphicon-plus',
			verticaldownclass: 'glyphicon glyphicon-minus',			
		});
	}


	function combo_segundos (clase) {	
		$(clase).TouchSpin({
			min: 00,
			max: 59,
			step: 1,
			initval: 00,
			verticalbuttons: true,
			verticalupclass: 'glyphicon glyphicon-plus',
			verticaldownclass: 'glyphicon glyphicon-minus',			
		});
	}

	
	$('.spinner').change(function(event) {
		var input = $(this);
		var campo = input.val();
		if (parseInt(campo)<=9 && parseInt(campo)!=0) {
			input.val('0'+campo);
		};
	});


	
	var duracion1 = $("#tmin").val();
	var duracion2 = $("#tnor").val();
	var duracion3 = $("#tmax").val();
	
	function ejecutar_blur (este) {	
		campo = '';			
		var value = $(este).val();
		var name = $(este).attr("name");
		if (isValidTime(value)){
			if(name == 't_minimo'){
				duracion1 = value;
			};
			if(name == 't_normal'){
				duracion2 = value;
			};
			if(name == 't_maximo'){
				duracion3 = value;
			};
			$('#mensaje'+name).html('');
			return true;	
		}else{
			var mensaje = '<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> <small>Formato no permitido</small></div>';
			$('#mensaje'+name).html(mensaje);			
			return false;
		};	
	}
	
	$(".duracion").blur(function(event) {
		este = $(this);
		ejecutar_blur(este);
	});	
	

	function isValidTime(text) {
		var regexp = new RegExp(/^([0-9]+ )?([0-9][0-9]+):([0-5][0-9]):([0-5][0-9])$/)
		return regexp.test(text);
	}

	$('.duracion').keyup(function(e) {
		if (consumir_eventos(e)) {
			if (evento_numeros(e)) {
			}else{
				console.log('Se consume el evento');
				e.stopPropagation();
				e.preventDefault();
				document.getElementById(this.id).value = campo;				
				return;
			};
		}else{
			console.log("Se ejecuta pero no se consume");
			return;
		};
		
	});

	function evento_numeros(e){		
		if (e.which>=48 && e.which<=57 || e.which == 8 || e.which == 13) {
			// console.log('EVENTO NUMEROS .. SI ES NUMERO TRUE'+ e.which);
			return true;
		}else{
			// console.log('EVENTO NUMEROS .. SI ES OTRA COSA NO LO DEJA PASAR RETURN');
			return false;
		};	
	}

	function consumir_eventos (e) {		
	// Allow: backspace, delete, tab, escape, enter and .	
	if ($.inArray(e.keyCode, [46, 9, 27, 32, 13,110, 16, 190]) !== -1 ||
             // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
             // Allow: Ctrl+C
            (e.keyCode == 67 && e.ctrlKey === true) ||
             // Allow: Ctrl+X
            (e.keyCode == 88 && e.ctrlKey === true) ||
             // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
                 // let it happen, don't do anything
                 console.log('CONSUMIR EVENTOS .. NO LO DEJA PASAR RETURN');
                 return false;
	    } 
	    return true;
	}

	var campo = '';	
	$('.duracion').keydown(function(event) {
		campo = $(this).val();
	});

	
	function validateForm() {
		$('#mensaje_tiempo_min').html('');
		$('#mensaje_tiempo_nor').html('');
		$('#mensaje_tiempo_max').html('');

		var estadistica = $("select[id=id_estadistica] option:selected");
		if (estadistica.val()=='') {	
			retorno = false;		
			return retorno;
		};
		
		var mensaje = '<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> <small>Formato no permitido</small></div>';

		var tiempo_min='';
		var tiempo_nor='';
		var tiempo_max='';

		$('.spinner').each(function(index, el) {
			if (!($(this).val())) {
				if ($(this).data('tipo')=='minimo') {
					$('#mensaje_tiempo_min').html(mensaje);
					return false;
				};
				if ($(this).data('tipo')=='maximo') {
					$('#mensaje_tiempo_max').html(mensaje);
					return false;
				};
				if ($(this).data('tipo')=='normal') {
					$('#mensaje_tiempo_nor').html(mensaje);
					return false;
				};
			}else{
				valor = $(this).val();
				if (valor == '0' || valor.length == 1) {
					valor = '0'+valor;
				};

				if (index<=3) {
					if (index == 0) {
						tiempo_min+= valor + ' ';
					}else{
						if (index==3) {
							tiempo_min+=valor
						}else{
							tiempo_min+=valor+':'
						};
					};
				}else{
					if (index<=7) {
						if (index == 4) {
							tiempo_nor+= valor + ' ';
						}else{
							if (index==7) {
								tiempo_nor+=valor
							}else{
								tiempo_nor+=valor+':'
							};
						};
					}else{
						if (index == 8) {
							tiempo_max+= valor + ' ';
						}else{
							if (index==11) {
								tiempo_max+=valor
							}else{
								tiempo_max+=valor+':'
							};
						};
					};
				};
			};
		});
		
		$("#tmin").val(tiempo_min);
		$("#tnor").val(tiempo_nor);
		$("#tmax").val(tiempo_max);

		var verificacion1 = ejecutar_blur(document.getElementById("tmin"));
		var verificacion2 = ejecutar_blur(document.getElementById("tnor"));
		var verificacion3 = ejecutar_blur(document.getElementById("tmax"));
		
		

		if (verificacion1 && verificacion2 && verificacion3) {						
			var retorno = true;
			$.ajax({				
				url: '/rest/centro_asistencia/verificar_estadistica',
				type: 'GET',				
				data: {fecha_min: tiempo_min, fecha_max:tiempo_max, id_estadistica:estadistica.val(),},
				async: false,
				success : function(data) {	
					if (data.minimo) {
						retorno = false;
						$('#mensaje_tiempo_min').html('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> <small>'+data.minimo+'</small></div>');						
					};
					if (data.maximo) {
						retorno = false;
						$('#mensaje_tiempo_max').html('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> <small>'+data.maximo+'</small></div>');						
					};
				},
			});
			$.ajax({
				url: '/rest/centro_asistencia/verificar_duracion',
				type: 'GET',				
				data: {fecha_min: tiempo_min, fecha_nor:tiempo_nor, fecha_max:tiempo_max,},
				async: false,
				// beforeSend: function( xhr) {
				// 	console.log("&&&&&");
				// 	console.log(xhr.text);
				// 	console.log(xhr.json);
				// 	console.log(xhr.readyState);					
				// 	retorno = false;
				// },
				success : function(data, xhr) {					
					if (data.normal) {
						retorno = false;
						$('#mensaje_tiempo_nor').html('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> <small>'+data.normal+'</small></div>');												
					};
					if (data.maximo) {
						retorno = false;
						$('#mensaje_tiempo_max').html('<div class="alert alert-warning alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> <small>'+data.maximo+'</small></div>');						
					};					
				},							
			});		
			console.log(retorno);
			return retorno;			
		}else{	
			return false;
		};
		// if (!ejecutar_blur(document.getElementById("tmin")) && !ejecutar_blur(document.getElementById("tnor")) && !ejecutar_blur(document.getElementById("tmax")) ) {
		// 	return false;
		// };		
	}



</script>
