{% if servicio.id %}
	{% url 'servicio_update' pk=servicio.id as url_edit_servicio %}
	<form id="servicio_update_form" method='post' class="form form-horizontal" role="form" action='{{url_edit_servicio}}'>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h4 class="modal-title" id="myModalLabel">Editar Servicio</h4>
		</div>
{% else %}
	{% url 'servicio_add' centro=centro as url_add_servicio %}
	<form id="servicio_create_form" method='post' class="form form-horizontal" role="form" action='{{url_add_servicio}}'>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h4 class="modal-title" id="myModalLabel">Nuevo Servicio</h4>
		</div>
{% endif %}	
	<div class="modal-body">		
		{% csrf_token %}		
		{% for formulario in form%}	 
			{% if formulario.errors %}
				<div class="alert alert-warning alert-dismissable">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> 					
					{% for error in formulario.errors %} 				
						<small>{{error}}</small>
					{% endfor %}					
				</div>
			{% endif %} 
			<div class="form-group">
				<label class="control-label col-sm-3">{{formulario.label}}</label>
				<div class="col-sm-8">
					{{formulario}}
					<p class="help-block small">{{formulario.help_text}}</p>			
				</div>						
			</div>
		{%endfor%}		
	</div>
	<div class="modal-footer">
		<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar" />
		<input type="submit" class="btn btn-primary" value="Guardar" style="margin-bottom: 5px;"/>
	</div>
</form>
<!---->
<script> 
	var form_options = { 
		target: '#modal .modal-content',
		success: function(data, response){
			console.log('entra on success' + response);
			if (data.respuesta) {
				if(data.respuesta == 'create'){
					jQuery('#modal').modal('hide');			
					// SI NO CONTIENE DATOS AGREGADOS AGREGAR LA TABLA
					if(document.getElementById("tbl_servicios")==null){						
						var tabla = '<table id="tbl_servicios" class="table table-bordered table-hover"><thead><tr><th>Servicio</th><th>Descripción</th><th>Acción</th></tr></thead>';
						$('#div_servicios').html(tabla);					
					}					
					//AGREGAR LA NUEVA FILA AL DOM	
					if(document.getElementById("tr_servicio"+data.id)==null){						
						$('#tbl_servicios tr:last').after(data.fila);
					}					
				}
				if(data.respuesta == 'update'){
					jQuery('#modal').modal('hide');			
					// REEMPLAZO DE LA FILA ACTUALIZADA EN EL DOM
					var fila = document.getElementById("tr_servicio"+data.id);				
					fila.innerHTML = data.fila;					
				}	
			}
		},		
	}
	// EJECUTAR LA FUNCIÓN DE AJAX
	$('#servicio_update_form').ajaxForm(form_options);	
	$('#servicio_create_form').ajaxForm(form_options);	
	// LIMPIAR CAMPOS DEL MODAL
	$('body').on('hidden.bs.modal', '.modal', function () {$(this).removeData('bs.modal');});
</script>
