{% url 'servicio_delete' pk=servicio.id as url_delete_servicio %}
<form id="servicio_delete_form" method='post' class="form form-horizontal" role="form" action='{{url_delete_servicio}}'>
	{% csrf_token %}
	<div class="modal-header">
		<h3 id= "myModalLabel">Eliminar Servicio</h3>
	</div>
	<div class="modal-body">
		<!--<p>¿Realmente desea eliminar: <strong><span id="modal_nombre"></span></strong>?</p>-->
		<p>¿Realmente desea eliminar <strong>{{object}}</strong> ?</p>
	</div>
	<div class="modal-footer">
		<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar" />
		<input type="submit" class="btn btn-danger" value="Eliminar" style="margin-bottom: 5px;"/>
	</div>
</form>
<script>
	var form_options = { 
			target: '.modal-content',
			success: function(data){				
				if (data.respuesta) {
					jQuery('#delele_modal').modal('hide');					
					$('#tr_servicio'+data.id).remove();
					var rowCount = $('#tbl_servicios tr').length;
					if(rowCount==1){
						var parrafo = '<i><h5>Aún no se han agregado servicios.</h5></i>';
						$('#div_servicios').html(parrafo);
					}
				}
				$('body').on('hidden.bs.modal', '.modal', function () {$(this).removeData('bs.modal');});
			},
		}
		// EJECUTAR LA FUNCIÓN DE AJAX
		$('#servicio_delete_form').ajaxForm(form_options);			
		
</script>