<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!--COMPATIBLE CON NAVEGADORES INTERNET EXPLORER-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">	
	<!--DISEÑO WEB RESPONSIVE CON BOOTSTRAP-->
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<title>{% block title %}{% endblock title %}</title>	
	<!--BLOQUE DE REFERENCIA A HOJAS DE ESTILO CSS-->
	<link rel="stylesheet" type="text/css" href="/media/bootstrap-3.3.2/css/bootstrap.css">
	<link rel="stylesheet" href="/media/bootstrap-3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/media/css/dataTables.bootstrap.css">
	{% block files_css %}{% endblock files_css %}
	<!--BLOQUE DE REFERENCIA A ARCHIVOS JS-->
	<script type="text/javascript" src='/media/js/jquery.js'></script>		
	<script type="text/javascript" src='/media/bootstrap-3.3.2/js/bootstrap.min.js'></script>
	<!--TABLES--> 		
	<script type="text/javascript" src='/media/js/jquery.dataTables.js'></script>
	<script type="text/javascript" src='/media/js/dataTables.bootstrap.js'></script>
	
	<!--MESSAGES--> 		
	<script type="text/javascript" src='/media/js/bootbox.js'></script>
	
	{% block files_js %}{% endblock files_js %}
</head> 
	<body>
		<div class="container-fluid">
			<div class="container" id="padre">
				<header>{% block header %}{% endblock header %}</header>
				<div class="bs-docs-container">
					{% block contenido %}{% endblock contenido %}
				</div>				
			</div>
		</div>	
		<footer class="footer">{% block footer %}{% endblock footer %}</footer>				
		{% block incluir_html %}{% endblock incluir_html %}
	</body>	
</html>

