<!DOCTYPE html>
<html>
<head>
	<!--FILE BASE_PANEL.HTML-->
	{% block realtime %}{% endblock realtime %}
	{% load drealtimetags %}	
	{%ishout_js%}
	<meta charset="utf-8">
	<!--COMPATIBLE CON NAVEGADORES INTERNET EXPLORER-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">	
	<!--DISEÑO WEB RESPONSIVE CON BOOTSTRAP-->
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<title>{% block title %}{% endblock title %}</title>	
	<!--BLOQUE DE REFERENCIA A HOJAS DE ESTILO CSS-->
	<link rel="stylesheet" type="text/css" href="/media/bootstrap-3.3.2/css/bootstrap.css">
	<link rel="stylesheet" href="/media/bootstrap-3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/media/css/datatables.css">
	<link rel="stylesheet" href="/media/css/dataTables.bootstrap.css">
	<link rel="stylesheet" href="/media/css/efectos.css">
	<link rel="stylesheet" href="/media/css/multi-select.css">	
	<link rel="stylesheet" href="/media/css/pnotify.custom.min.css">
	<link rel="stylesheet" href="/media/css/jquery.countdown.css">	
	
	{% block files_css %}{% endblock files_css %}
	<!--BLOQUE DE REFERENCIA A ARCHIVOS JS-->
	<script type="text/javascript" src='/media/js/jquery.js'></script>	
	<script type="text/javascript" src='/media/bootstrap-3.3.2/js/bootstrap.js'></script>
	<script type="text/javascript" src='/media/js/jquery.cookie.js'></script>		
	<!--COMPONENTES-->
	<script type="text/javascript" src='/media/js/jquery.dataTables.min.js'></script>
	<script type="text/javascript" src='/media/js/dataTables.bootstrap.js'></script>
	<script type="text/javascript" src='/media/js/jquery.multi-select.js'></script>
	<script type="text/javascript" src='/media/js/bootstrap.file-input.js'></script>
	<script type="text/javascript" src='/media/js/pnotify.custom.min.js'></script>
	<script type="text/javascript" src='/media/js/jquery.plugin.js'></script>
	<script type="text/javascript" src='/media/js/jquery.countdown.js'></script>

	
	<!--FORMULARIOS-->
	<script type="text/javascript" src="/media/js/jquery.form.js"></script>
	<!--MESSAGES--> 		
	<script type="text/javascript" src='/media/js/bootbox.js'></script>
	
	<!--APLICACIONES-->
	{% block files_js %}{% endblock files_js %}
</head> 
	<body>		
		<div class="container">
			<!--<div class="container-fluid" id="divpadre">-->
				<header>
					<nav class="navbar navbar-default">
							<div class="container-fluid">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
										<span class="sr-only">Cambiar Navegación</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<!--Si es administrador tiene que ir al home de admin
										Si es operador al home de operador y así para todos los usuarios.
										user.get_profile()
										{% url 'view_panel' dni=user.dni as url_home_usuario %}
									-->									
									{% url 'view_home' as url_home_usuario %}
									<a class="navbar-brand" href="{{url_home_usuario}}">
										<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
										Inicio</a>
								</div>		
								<div id="navbar" class="navbar-collapse collapse">
									<ul class="nav navbar-nav navbar-right">
										{% block navbar_dinamico %}{% endblock navbar_dinamico %}
										<li role="presentation"><a href="#">Notificaciones <span class="badge">3</span></a></li>					
										<li class="dropdown">
											<a href="#" class="dropdown-toggle" data-toggle="dropdown">
												<b>{{user.nombres}}</b>
												<b class="caret"></b>
											</a>
											<ul class="dropdown-menu">
												<li>
													<a href="{% url 'django.contrib.auth.views.logout' %}">Cerrar sesión</a>										
												</li>
											</ul>	
										</li>			
									</ul>	
								</div><!--/.nav-collapse -->	
							</div><!--/.container-fluid -->			
					</nav>					
				</header>								
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-8 col-md-8 col-lg-9 fondo_trabajo">
							<div class="fondo_trabajo">
								{% block contenido %}{% endblock contenido %}
								{% block incluir_html %}{% endblock incluir_html %}
							</div>
						</div>
						<div id="panel_derecho" class="col-sm-4 col-lg-3 color_fondo_body">
							<div class="col-md-offset-1 col-md-11 fondo_panel_derecho sidebar">
								{% block menu_navegacion %}{% endblock menu_navegacion %}
							</div>
						</div>
					</div>					
				</div>

			<!--</div>-->
		</div>	
		{% block footer %}{% endblock footer %}		

	</body>
	<script type="text/javascript">
	$(document).ready(function() {
		ishout.on('notificaciones', function(data){		
			var stack_bottomright = {"dir1":"bottom", "dir2":"right", "push":"top"};
			new PNotify({
				title: data.tipo,
				text: data.msg,
				addclass: 'stack-bottomright',
				icon: 'glyphicon glyphicon-wrench',
				type: 'info',
				stack: stack_bottomright
			});
		});
		ishout.init();
	});
	</script>
</html>

