<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!--COMPATIBLE CON NAVEGADORES INTERNET EXPLORER-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">	
	<!--DISEÑO WEB RESPONSIVE CON BOOTSTRAP-->
	<meta name="viewport" content="width=device-width, initial-scale=1">	
	<title>{% block title %}{% endblock title %}</title>	
	<!--BLOQUE DE REFERENCIA A HOJAS DE ESTILO CSS-->
	<link rel="stylesheet" type=P"text/css" href="/media/bootstrap-3.3.2/css/bootstrap.css">
	<link rel="stylesheet" href="/media/bootstrap-3.3.2/css/bootstrap.min.css">
	{% block files_css %}{% endblock files_css %}
	<!--BLOQUE DE REFERENCIA A ARCHIVOS JS-->
	<script type="text/javascript" src='/media/js/jquery.js'></script>
	<script type="text/javascript" src="/media/js/jquery.min.js" charset="utf-8" async defer></script>
	<script type="text/javascript" src='/media/bootstrap-3.3.2/js/bootstrap.min.js'></script> 
	{% block files_js %}{% endblock files_js %}

</head>
	<body style="background-color:#D8DBDC">
		<div class="container bs-docs-container" style="background-color:#ADCC86">
			{% block contenido %}{% endblock contenido %}
		</div>		
	</body>
</html>

