<ul class="nav nav-sidebar">
	<li>
		{% url 'view_lista_centro_asistencia' as url_centro_asistencia %}
		<a href="{{url_centro_asistencia}}">
			<span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Centro de Asistencia
		</a>
	</li>

	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;<b>Incidencias</b>
			<b class="caret"></b>
		</a>
		<ul class="dropdown-menu" role="menu">
			<li>
				{% url 'incidencia_list' as url_incidencias %}
				<a href="{{url_incidencias}}">
					<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Mis Indicencias Registradas
				</a>
			</li>
			<li>
				{% url 'incidencia_asignada_list' as url_incidencias_asignadas %}
				<a href="{{url_incidencias_asignadas}}">
					<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Indicencias Asignadas
				</a>
			</li>

			<li>
				{% url 'incidencia_centro_list' as url_incidencias_centro %}
				<a href="{{url_incidencias_centro}}">
					<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Administrador de Indicencias
				</a>
			</li>
		</ul>	
	</li>



	

	<li>
		
		<a href="{{url_centro_asistencia}}">
			<span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Registro y Calificación
		</a>
	</li>
</ul>